body {
    background-color: #FBFBFB;
    font-family: 'Work Sans', 'Open Sans', sans-serif;
    font-size: 14px;
    color: $color-black;
}

strong {
    font-weight: $font-weight-medium;
}

a {
   text-decoration: none;
}